<nav-bar></nav-bar>
<div class="list">
  <div class="table-wrapper">
    <!-- if the type is skaters or goalies, then show the sidenav for filters -->
    <div *ngIf="type === 'skaters' || type === 'goalies'">
      <mat-sidenav-container>
        <mat-sidenav
          #filterSidenav
          position="end"
          mode="over"
          class="filter-sidenav"
        >
          <div class="header">
            <div class="header-title">Filters</div>
            <button mat-icon-button (click)="closeSidenav()">
              <mat-icon class="close-icon">close</mat-icon>
            </button>
          </div>

          <div *ngIf="filters$ | async as filters">
            <div
              class="filters-container"
              *ngIf="availableFilters | async as availableFilters"
            >
              <div class="season">
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                  <mat-label>Season</mat-label>
                  <mat-select
                    [(ngModel)]="filters.season"
                    #seasonSelect="ngModel"
                  >
                    <mat-option
                      *ngFor="let season of availableSeasons"
                      [value]="season"
                    >
                      {{ season }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="updateFilters('season', seasonSelect.value)"
                >
                  Apply
                </button>
              </div>

              <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Position</mat-label>
                <mat-select
                  multiple
                  [(ngModel)]="filters.position"
                  (selectionChange)="updateFilters('position', $event.value)"
                >
                  <mat-option
                    *ngFor="let position of availableFilters.positions"
                    [value]="position"
                  >
                    {{ position }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Team</mat-label>
                <mat-select
                  multiple
                  [(ngModel)]="filters.team"
                  (selectionChange)="updateFilters('team', $event.value)"
                >
                  <mat-option
                    *ngFor="let team of availableFilters.teams"
                    [value]="team"
                  >
                    <img
                      [src]="'assets/teams/' + team + '.png'"
                      onError="this.src = 'assets/teams/default.png'"
                      alt="{{ team }}"
                      class="team-logo"
                    />
                    {{ team }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Nationality</mat-label>
                <mat-select
                  multiple
                  [(ngModel)]="filters.nationality"
                  (selectionChange)="updateFilters('nationality', $event.value)"
                >
                  <mat-option
                    *ngFor="let nationality of availableFilters.nationalities"
                    [value]="nationality"
                  >
                    <span
                      class="fi fi-{{ countryCodeMap[nationality] }}"
                    ></span>
                    {{ nationality }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content>
          <filters></filters>
          <ng-container *ngIf="type === 'skaters'">
            <skatersLeaderboard />
          </ng-container>
          <ng-container *ngIf="type === 'goalies'">
            <goaliesLeaderboard />
          </ng-container>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <div *ngIf="type === 'teams'">
      <teamsLeaderboard />
    </div>
  </div>
</div>
