<div class="md-form form-fill">
    <div mdbDropdown class="dropdown">
        <button class="btn btn-warning dropdown-toggle mat-form-field-appearance-fill" type="button"
            id="dropdownMenuButton" aria-expanded="false" mdbDropdownToggle>
            Nationality
        </button>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" (click)="handleNationalityChange(null, $event)">-</a></li>
            <li *ngFor="let nationality of nationalities">
                <a class="dropdown-item" href="#" (click)="handleNationalityChange(nationality, $event)">
                    {{ nationality }}
                </a>
            </li>
        </ul>
    </div>
</div>