.war-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.war-number-container {
  position: relative;
  margin-top: 5px;
}

.rink-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.war-number {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  animation: sparkle 2s ease infinite;
}

.action {
  height: 250px;
  margin-top: 5%;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 768px) {
  .action {
    display: none;
  }

  .mat-mdc-card-content:last-child {
    padding-bottom: 10px;
  }

  shots {
    display: none;
  }

  .md-form {
    align-self: center;
  }
}
