<nav-bar [navColor]="navColor"></nav-bar>

<div class="center">
  <ng-container
    *ngIf="{
        player: player$ | async,
        card: card$ | async,
      } as playerOverall">
    <ng-container *ngIf="playerOverall.player as player">
      <ng-container *ngIf="playerOverall.card as card">
        <div class="card-container">
          <mat-card class="shot-card border">
            <mat-card-title class="player-name text-center">
              {{ season }} Goals Plot
            </mat-card-title>
            <mat-card-subtitle class="text-center">
              Hover over the dots to see shot type and xG.
            </mat-card-subtitle>
            <mat-card-subtitle class="text-center">
              Click on the blue dots to see goal video!
            </mat-card-subtitle>
            <div class="md-form form-fill" *ngIf="seasons$ | async as seasons">
              <div mdbDropdown class="dropdown">
                <button
                  class="btn btn-primary dropdown-toggle mat-form-field-appearance-fill"
                  type="button"
                  id="dropdownMenuButton"
                  aria-expanded="false"
                  mdbDropdownToggle>
                  Season
                </button>
                <ul
                  mdbDropdownMenu
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton">
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/', player.playerID, 'year']">
                      -
                    </a>
                  </li>
                  <li *ngFor="let season of seasons">
                    <a
                      class="dropdown-item"
                      href="#"
                      [routerLink]="['/', player.playerID, 'year', season]">
                      {{ season }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <shots
              *ngIf="player.shots"
              [shotsData]="shotsData"
              (shotsDataChange)="onShotsDataChange($event)"></shots>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
