.centered-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: mintcream !important;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.score-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.score-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.score-card:hover {
  transform: translateY(-10px) rotateX(5deg);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1), 0 20px 32px rgba(0, 0, 0, 0.2);
}

.teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}

.away-team,
.home-team {
  font-weight: bold;
}

.vs-divider {
  margin: 0 10px;
  font-weight: bold;
}

.records {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  color: #888;
}

.scores {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.score-divider {
  margin: 0 5px;
}

mat-card {
  max-width: 400px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-content {
  text-align: center;
  padding: 20px;
}

mat-card-title {
  font-size: 24px;
  margin-bottom: 16px;
}

img.score-images {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.pfp {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 50%;
}

.best-saves-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.best-saves-table th {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.best-saves-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.best-saves-table tr:first-child td {
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: mintcream;
}
