<nav-bar></nav-bar>
<div class="landing-container">
  Welcome to the landing page!
  <div class="notes-table" *ngIf="releaseNotes$ | async as releaseNotes">
    <h1>Release Notes</h1>
    <div class="release-notes" *ngFor="let note of releaseNotes">
      <div class="note-header">
        <span class="note-description">
          <span class="note-title"> {{ note.title }} </span>
          By {{ note.author }}
        </span>
        <span>{{ note.date | date : "shortDate" }}</span>
      </div>
      <div class="note-body">
        <img
          src="assets/{{ imageMap[note.author] }}"
          class="masked-image"
          alt="Fissure in Sandstone"
        />

        <div>{{ note.note }}</div>

        <a href="{{ note.githubLink }}" target="_blank">
          <i class="fab fa-github github-mark"></i>
        </a>
      </div>
    </div>
  </div>
</div>
