<nav-bar></nav-bar>
<div class="landing-container">
  <span class="release-header">Welcome to PierreAnalytics!</span>
  <span class="release-subheader">
    Your source for clean and colorful NHL analytics.
  </span>
  <div class="toggle">
    <mat-slide-toggle
      [(ngModel)]="isDarkMode"
      ngDefaultControl
      labelPosition="before"
      (change)="toggleDarkMode()">
      <div style="display: flex; align-items: center; gap: 5px">
        <span class="slider">Dark Mode</span>
        <mat-icon class="slider">
          {{ isDarkMode ? "nights_stay" : "wb_sunny" }}
        </mat-icon>
      </div>
    </mat-slide-toggle>
  </div>
  <div *ngIf="luckyPlayer$ | async as luckyPlayer" class="lucky-player-widget">
    <span class="lucky-subheader">Your Lucky Player is:</span>
    <a
      class="lucky-player"
      href="#"
      [routerLink]="['/', luckyPlayer.playerID, 'year', 2025]">
      <img
        src="{{
          'https://assets.nhle.com/mugs/nhl/latest/' +
            luckyPlayer.playerID +
            '.png'
        }}"
        class="logo" />
      {{ luckyPlayer.firstName }}
      {{ luckyPlayer.lastName }}
    </a>
  </div>
  <div class="landing-widgets">
    <div class="release-widget">
      <span class="release-header">Release Notes</span>
      <div class="notes-table" *ngIf="releaseNotes$ | async as releaseNotes">
        <div class="release-notes" *ngFor="let note of releaseNotes">
          <div class="note-header">
            <span class="note-description">
              <span class="note-title">{{ note.title }}</span>
              by {{ note.author }}
            </span>
            <span>{{ note.date | date : "mediumDate" }}</span>
          </div>
          <div class="note-body">
            <span class="note-post">
              <img
                src="assets/{{ imageMap[note.author] }}"
                class="masked-image"
                alt="Fissure in Sandstone" />
              {{ note.note }}
            </span>
            <a href="{{ note.githubLink }}" target="_blank">
              <i class="fab fa-github github-mark"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="twitter-feeds">
      <iframe
        loading="lazy"
        height="500px"
        width="300px"
        src="https://syndication.twitter.com/srv/timeline-profile/screen-name/pierreanalytics?frame=false&hideBorder=false&hideFooter=false&hideHeader=true&hideScrollBar=true&origin=pierreanalytics&maxHeight=800px&showHeader=true&showReplies=false&transparent=false&theme=dark"
        frameborder="1"
        scrolling="no"></iframe>
      <iframe
        loading="lazy"
        height="500px"
        width="300px"
        src="https://syndication.twitter.com/srv/timeline-profile/screen-name/nhlxgbot?frame=false&hideBorder=false&hideFooter=false&hideHeader=true&hideScrollBar=true&origin=pierreanalytics&maxHeight=800px&showHeader=true&showReplies=false&transparent=false&theme=dark"
        frameborder="1"
        scrolling="no"></iframe>
    </div>
  </div>
  <div *ngIf="scores$ | async" class="scores">
    <div *ngFor="let game of scores$ | async" class="score-bug">
      <!-- Away Team Info -->
      <div class="score-cell">
        <img src="{{ game.awayTeamLogo }}" class="team-logo" />
        <span>{{ game.awayTeamName }}</span>
        <span>{{ game.awayTeamRecord }}</span>
      </div>

      <!-- Middle Info -->
      <div class="middle-cell">
        <ng-container *ngIf="game.gameState != 'FUT'; else futureGame">
          <span>{{ game.gameState }}</span>
          <span>{{ game.awayTeamScore }} - {{ game.homeTeamScore }}</span>
        </ng-container>
        <ng-template #futureGame>
          <span>{{ game.gameType }}</span>
          <span>{{ game.startTime | date : "EEE, MMM d, h:mm a" }}</span>
          <span>{{ game.venue }}</span>
        </ng-template>
      </div>

      <!-- Home Team Info -->
      <div class="score-cell">
        <img src="{{ game.homeTeamLogo }}" class="team-logo" />
        <span>{{ game.homeTeamName }}</span>
        <span>{{ game.homeTeamRecord }}</span>
      </div>
    </div>
  </div>
</div>
