.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  background-color: var(--bgColor);
  color: var(--textColor);
}

.notes-table {
  width: 100%;
  overflow: auto;
  border: 1.5px solid grey;
}

.release-notes {
  padding: 10px;
  max-height: 100px;
  background-color: var(--bgColor);
}

.release-notes:nth-child(odd) {
  background-color: var(--releaseNotesColor);
}

.masked-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.github-mark {
  font-size: 50px;
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.note-description {
  font-size: 14px;
}

.note-title {
  font-size: 16px;
  font-weight: bold;
}

.note-body,
.note-post {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: tomato;
  overflow: visible;
  font-size: 50px;
}

.release-header {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.release-subheader {
  font-size: 16px;
  align-items: center;
}

mat-large-icon-button {
  font-size: 20px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}

.score-bug:nth-child(2n-1) {
  background-color: var(--scorebugColor);
}

.middle-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
}

.landing-widgets {
  display: flex;
  flex-direction: row;
}

.twitter-feeds {
  justify-content: space-around;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.release-widget {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.lucky-player {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: #ffbf00ad;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 3px;
}

.lucky-player:hover {
  background-color: #ffbf00;
}

.lucky-subheader {
  font-size: 16px;
  font-weight: bold;
}

.lucky-player-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 30px;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 50%;
}

.scores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.score-bug {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
  width: 350px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.score-bug:hover {
  transform: translateY(-10px) rotateX(5deg);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1), 0 20px 32px rgba(0, 0, 0, 0.2);
}

.score-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  justify-content: center;
  width: 30%;
}

.middle-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 2;
  width: 40%;
}

.team-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

span {
  font-size: 14px;
  font-weight: 600;
}

.score-cell span {
  margin-bottom: 5px;
}

.middle-cell span {
  margin-bottom: 3px;
  font-size: 14px;
}

.middle-cell span:first-child {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .notes-table {
    width: 95%;
    max-height: 375px;
  }

  .release-notes {
    max-height: 125px;
  }

  .release-widget {
    width: 100%;
    align-items: center;
  }

  .landing-widgets {
    flex-direction: column;
  }

  .twitter-feeds {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1800px) {
  .twitter-feeds iframe {
    height: 800px;
  }
}
