.segmented-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  gap: 5px;
}

.top-toggles {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
}

.mat-button-toggle {
  border: var(--borderColor);
  color: black;
  padding: 0px 5px;
}

.mat-button-toggle-checked {
  background-color: var(--releaseNotesColor);
  color: var(--textColor);
}
