.segmented-button {
  display: flex;
}
.segment {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  color: black;
}
.segment.active {
  background-color: #007bff;
  color: white;
}

.segment:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.segment:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
