<nav-bar></nav-bar>
<div class="d-flex align-items-start bg-white mb-3" style="margin-left: 10%;margin-right:10%;">
    <div>
        <h2>About This Website</h2>
        <p>This website, inspired by BaseballSavant, is a resource for advanced hockey statistics. You can find
            percentile rankings, live game data, and leaderboard data on this website.</p>
    </div>
</div>

<div class="d-flex align-items-start bg-white mb-3" style="margin-left: 10%;margin-right:10%;">
    <div>
        <h2>About Me</h2>
        <p>Hi! My name is Neil Pierre-Louis. I am a Software Developer for the Baseball Research and Development
            Department of the Boston Red Sox front office. I am also a recent graduate of the University of North
            Carolina at
            Chapel-Hill.
            I studied computer science and minored in statistics and analytics. In my free time, I love to play
            soccer with
            my friends, watch hockey, and play jazz trumpet! As you can clearly see, I am a sports merchant. On this
            website, you can find all of my projects and
            contact
            information!</p>
    </div>
</div>

<div class="d-flex align-items-start bg-white mb-3" style="margin-left: 10%;margin-right:10%;">
    <div>
        <h2>Data</h2>
        <p>The data presented to you is pulled from the <a href="https://github.com/dword4/nhlapi">NHL's API. </a>All
            advanced stat calculations are done by me and uploaded to a SQL database that this website pulls from. This
            website is an Angular frontend with an Express JS backend that pulls from a SQLite3 database. All player
            card statistics are calculated as a rate (per/60) and are percentile based.</p>
    </div>
</div>

<div class="d-flex align-items-start bg-white mb-3" style="margin-left: 10%;margin-right:10%;">
    <div>
        <h2>Glossary</h2>
        <p style="font-weight: bold;">xGF:</p>
        <p>The amount of expected goals for that a skater is on the ice for.</p>

        <p style="font-weight: bold;">xGA:</p>
        <p>The amount of expected goals for that a skater is on the ice against.</p>

        <p style="font-weight: bold;">Finishing:</p>
        <p>I calculated finishing as what is usually referred to as "Goals Scored Above Expected," which is simply the
            amount of goals a skater has scored subtracted by the amount of expected goals they have generated through
            shots themselves.</p>

        <p style="font-weight: bold;">Primary Assists:</p>
        <p>Assists where the skater was the last one on the scorer's team to touch or pass the puck before the scorer
            obtains possession (assuming no possession loss before this) and scores.</p>

        <p style="font-weight: bold;">EV:</p>
        <p>Even Strength (5v5, 4v4, 3v3)</p>

        <p style="font-weight: bold;">PP:</p>
        <p>Powerplay (Skater advantage due to penalty, 5v4 for example)</p>

        <p style="font-weight: bold;">SH:</p>
        <p>Shorthanded (Skater disadvantage due to penalty, 4v5 for example)</p>

        <p style="font-weight: bold;">TOI:</p>
        <p>Time On Ice</p>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <img src="assets/me.jpg" class="small card-img-top" alt="Fissure in Sandstone" />
                    <h2 class="card-title">Contact Me</h2>
                    <p class="card-text"><i class="fas fa-envelope"></i> neilpierre24@gmail.com</p>
                    <p class="card-text"><i class="fas fa-phone"></i> 9196185609</p>
                    <div class="card-text social-icons">
                        <a href="https://www.linkedin.com/in/neil-pierre-louis/" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                        <a href="https://twitter.com/pierreanalytics" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://github.com/neilpl24" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                    <a href="assets/Neil_Pierre-Louis_Resume.pdf" download class="btn btn-primary">Download Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>