@media only screen and (max-width: 768px) {
  .mdc-data-table__cell {
    white-space: normal;
    overflow: visible;
  }
}

table td {
  color: var(--textColor);
}

table th,
tr {
  background-color: var(--bgColor);
  color: var(--textColor);
}
