<table
  mat-table
  class="table-data table-hover table-bordered border-secondary"
  [dataSource]="dataSource"
  matSort
  (matSortChange)="onSortChange($event)"
>
  <caption>
    Hover over the column names for more info.
  </caption>
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="lastName"
      class="left"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let player" class="left">
      <div class="logo-div">
        <img
          src="{{
            'https://assets.nhle.com/mugs/nhl/latest/' +
              player.playerID +
              '.png'
          }}"
          class="logo row"
        />
        <div class="row text-size">
          {{ player.firstName }} {{ player.lastName }}
        </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let player" class="small-column">
      {{ player.position }}
    </td>
  </ng-container>
  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef>Team</th>
    <td mat-cell *matCellDef="let player">
      <a [routerLink]="['/teams', player.teamId]" class="plain-link">
        <div class="logo-div">
          <img
            src="{{ 'assets/teams/' + player.team + '.png' }}"
            class="logo row"
          />
          <div class="row text-size">{{ player.team }}</div>
        </div>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="goals">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="goals"
      [matTooltip]="getTooltip('goals')"
      matTooltipPosition="above"
    >
      Goals/60
    </th>
    <td
      mat-cell
      *matCellDef="let player"
      [ngStyle]="getCellColors(player.goals, 'goals')"
      class="small-column"
    >
      {{ player.goals }}
    </td>
  </ng-container>
  <ng-container matColumnDef="finishing">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="gsae"
      [matTooltip]="getTooltip('finishing')"
      matTooltipPosition="above"
    >
      Finishing
    </th>
    <td
      mat-cell
      *matCellDef="let player"
      [ngStyle]="getCellColors(player.gsae, 'gsae')"
      class="small-column"
    >
      {{ player.gsae }}
    </td>
  </ng-container>
  <ng-container matColumnDef="primaryAssistsEV">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="primaryAssistsEV"
      [matTooltip]="getTooltip('assists')"
      matTooltipPosition="above"
    >
      Assists/60
    </th>
    <td
      mat-cell
      *matCellDef="let player"
      [ngStyle]="getCellColors(player.primaryAssistsEV, 'primaryAssistsEV')"
      class="small-column"
    >
      {{ player.primaryAssistsEV }}
    </td>
  </ng-container>
  <ng-container matColumnDef="xGF">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="xGF"
      [matTooltip]="getTooltip('xgf')"
      matTooltipPosition="above"
    >
      xGF
    </th>
    <td
      mat-cell
      *matCellDef="let player"
      [ngStyle]="getCellColors(player.xGF, 'xGF')"
      class="small-column"
    >
      {{ player.xGF }}
    </td>
  </ng-container>
  <ng-container matColumnDef="xGA">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="xGA"
      [matTooltip]="getTooltip('xga')"
      matTooltipPosition="above"
    >
      xGA
    </th>
    <td
      mat-cell
      *matCellDef="let player"
      [ngStyle]="getCellColors(player.xGA, 'xGA')"
      class="small-column"
    >
      {{ player.xGA }}
    </td>
  </ng-container>
  <ng-container matColumnDef="xGPercentage">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="xG"
      [matTooltip]="getTooltip('xgPercent')"
      matTooltipPosition="above"
    >
      xG%
    </th>
    <td
      mat-cell
      *matCellDef="let player"
      [ngStyle]="getCellColors(player.xG, 'xG')"
      class="small-column"
    >
      {{ player.xG }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let player; columns: displayedColumns"
    [routerLink]="['/', player.playerID, 'year', season]"
  ></tr>
</table>

<mat-paginator
  [pageSize]="25"
  [pageSizeOptions]="[25, 50, 100, 500]"
  [length]="dataSource.data.length"
  showFirstLastButtons
></mat-paginator>
<ng-template #emptyState> </ng-template>
