.plain-link {
  color: inherit; /* Inherit the color from the parent when not hovered */
  text-decoration: none;
  cursor: pointer;
}

.plain-link:hover {
  color: steelblue;
}

.logo-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.logo {
  width: 35px;
  height: 35px;
}

.table-data {
  padding: 10px !important;
  background-color: white;
}
.small-column {
  // leaderboard columns with numbers
  width: 100px;
  text-align: center;
  font-size: medium;
}

.text-size {
  // leaderboard colummns without numbers
  font-size: 15px;
}

// Still need to do two things here:
// 1) check font size on mobile (set a different value if needed)
// 2) set the header font sizes to match the body font sizes
