.circle {
  position: absolute;
  left: calc(var(--percentile) - 9px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px;
  border-color: gray;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: white;
}

.percentile {
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

.timeline {
  height: 4px;
  background-color: #e5e5e5;
  max-width: 150px;
  align-items: center;
}

.timeline-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--percentile);
}
