.form-check-label {
  font-size: 15px;
  color: white;
}

.search-spacing {
  margin-left: 10px;
  width: 300px;
}

.search-select-height {
  /* search and select weren't the same size and it bugged me */
  height: 40px;
}

mat-form-field {
  width: 100% !important;
  height: 70px;
}

.form-select {
  width: 100px;
}

.custom-navbar {
  background-color: var(--custom-nav-color, inherit);
}

.normal-button {
  background-color: black;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.container-fluid {
  padding: 5px;
  max-width: 100%;
  align-items: center;
}

.container {
  max-width: 100%;
  align-items: center;
  padding: 0px;
}

.dropdown2 {
  position: absolute;
  display: inline-block;
  z-index: 5;
  width: inherit;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
}

.show {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  min-width: 100%;
  margin: 0px;
  text-align: center;
}

.dropdown-item {
  width: inherit;
  background-color: #f6f6f6;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.dropdown-container {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-list {
  display: none;
  position: absolute; /* Positions below the button */
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none; /* Removes default bullet points */
  padding: 0;
  /* Other styles for borders, shadows, etc. */
}

.dropdown-list li {
  padding: 5px 10px;
  cursor: pointer; /* Indicates interactivity for options */
  /* Styles for hover effects, etc. */
}

.logo {
  width: 40px;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .container {
    justify-content: center !important;
    align-items: center;
    padding: 0px;
  }

  .navbar-nav {
    flex-direction: row;
  }
  .search-spacing {
    width: 200px;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  .year-select,
  .form-control {
    width: 100%;
  }

  .mobile-button {
    padding: 8px;
    background-color: black;
    color: white;
    align-items: center;
    text-transform: capitalize;
    font-size: 12px;
  }

  .search-select-height {
    margin-top: 10px;
  }
}
