.standings-container {
  display: flex;
  justify-content: space-around;
}

.division-card {
  width: 300px;
  margin: 16px;
}

.last-updated {
  text-align: center;
  margin: 8px;
}

table {
  width: 100%;
}

td {
  padding: 8px;
  text-align: center;
}

mat-card.score-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
  transition: transform 0.2s;
}

mat-card.score-card:hover {
  transform: translateY(-10px) rotateX(5deg);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1), 0 20px 32px rgba(0, 0, 0, 0.2);
}

.team-logo {
  width: 40px;
  height: auto;
  margin-right: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  max-width: 100%;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

td img {
  max-width: 50px;
}

.table-container {
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table-container th,
.table-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f0f0f0;
}

.table-container img {
  max-width: 50px;
}

.mat-mdc-card-header {
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .standings-container {
    display: block;
    text-align: -webkit-center;
  }
}
