<nav-bar></nav-bar>
<div class="last-updated"><p>Last Updated: {{ lastUpdated }} EST</p></div>
<div class="standings-container">
  <mat-card class="division-card score-card" *ngFor="let division of divisions">
    <mat-card-header>
      <mat-card-title>{{ division }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-container">
        <table>
          <tr>
            <th>Team</th>
            <th>Actual Points</th>
            <th>Simulated Points</th>
          </tr>
          <tr *ngFor="let team of groupByDivision(division)">
            <a [routerLink]="['/teams', team.teamId]">
            <td>
              <img
                src="{{ 'assets/' + team.teamName + '.png' }}"
                alt="{{ team.teamName }} Logo"
                class="team-logo"
              />
            </td>
            </a>
            <td [ngStyle]="getActualPointsStyle(team.actualPoints)">
              {{ team.actualPoints | number : "1.0-0" }}
            </td>
            <td>{{ team.simulatedPoints | number : "1.1-2" }}</td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
