.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: end;
  padding: 5px;
}

.filter {
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 10px;
  }

  .filter-container {
    justify-content: start;
  }
}
