.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: end;
  padding: 5px;
  background-color: var(--bgColor);
  color: var(--textColor);
}

::ng-deep mat-icon,
.mat-mdc-button.mat-unthemed {
  color: var(--textColor);
}

.filter {
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 10px;
  }

  .filter-container {
    justify-content: start;
  }
}
