.teams-container {
  display: flex;
  justify-content: space-around;
}

.division-card {
  width: 300px;
  margin: 16px;
}

table {
  width: 100%;
}

td {
  padding: 8px;
  text-align: center;
}

body { background-color: #DBF9FC; }

.team-name {
  font-size: 30px;
  font-weight: bold;
  margin: 8px 0;
  text-align: center;
}

.position-name {
    font-size: 20px;
    margin: 4px 0;
    text-align: center;
  }

.divide-line {
  border: 1px solid #a7a5a5;
  width: 100%;
  margin: 16px 0;
}

.team-info-title {
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0;
}
.team-info-value {
  font-size: 15px;
  margin: 8px 0;
}

.team-card {
  font-family: Roboto;
  justify-content: start;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  width: 300px;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  max-width: 100%;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

td img {
  max-width: 50px;
}

.table-container {
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table-container th,
.table-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f0f0f0;
}

.table-container img {
  max-width: 50px;
}

.mat-mdc-card-header {
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .standings-container {
    display: block;
    text-align: -webkit-center;
  }
}
