.plain-link {
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Show pointer cursor on hover */
}

.team-name {
  font-size: 30px;
  font-weight: bold;
  margin: 8px 0;
  text-align: center;
}

.position-name {
  font-size: 20px;
  margin-bottom: 2px 0;
}

.roster-title {
  text-align: center;
  font-size: 20px;
}

.divide-line {
  border: 1px solid #a7a5a5;
  width: 100%;
  margin: 16px 0;
}

.divide-line-roster {
  border: 1px solid #a7a5a5;
  margin: 4px 0;
  width: 100%;
}

.team-info-title {
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0;
}

.team-info-value {
  font-size: 15px;
  margin: 8px 0;
}

.team-card {
  font-family: Roboto;
  justify-content: start;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roster-container {
  font-family: Roboto;
  width: 645px;
  display: flex;
}

.roster-left {
  flex: 1;
  width: 300px;
  align-items: center;
  margin: 15px;
}

.roster-right {
  flex: 1;
  margin: 15px;
  width: 300px;
  align-items: center;
  justify-content: start;
}

.team-logo {
  width: 300px;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .team-logo {
    width: 200px;
  }

  .roster-container {
    flex-direction: column; /* Change flex direction to column for stacking on mobile */
    width: 100%;
    text-align: center;
  }

  .divide-line-roster {
    border: 1px solid #a7a5a5;
    margin: 8px 0;
    width: 100%;
  }

  .roster-left {
    width: 100%;
  }

  .roster-right {
    width: 100%;
  }
}
